@import url('https://www.fontify.me/wf/48f3e12c04a64dde546f078f61fa84bc');

html {
    background-color: beige;
    background: url('images/construction.jpg') no-repeat fixed;
    background-size: 100% 100%;
    font-size: 12px;
}

h1, h2, .emptymsg {
    text-align: center;
    font-family: font89786;
}

form {
    margin: 20px;
}

#inputTaskName {
    width: 90%;
}

#inputTaskDescription {
    display: block;
    width: 90%;
}

.task, .taskToDo {
    margin: 20px;
}

.taskname {
    display: inline-block;
    width: 85%;
}

.taskdesc {
    width: 85%;
}

.inputNameEdit {
    width: 85%;
}

.inputDescEdit {
    display: block;
    width: 85%;
}

#inputDivider, #completeDivider {
    margin: auto;
    width: 80%;
    border-top: solid grey 1px;
    padding-top: 10px;
}

button {
    padding: 10px;
}

#addtask {
    background: url('images/add.png') no-repeat local;
    background-size: 100% 100%;
}

.deleteBtn {
    background: url('images/delete.png') no-repeat local;
    background-size: 100% 100%;
}

.editBtn {
    background: url('images/edit.png') no-repeat local;
    background-size: 100% 100%;
}

.describeBtn {
    background: url('images/describe.png') no-repeat local;
    background-size: 100% 100%;
}

.completeBtn {
    background: url('images/complete.png') no-repeat local;
    background-size: 100% 100%;
}

.incompleteBtn {
    background: url('images/incomplete.png') no-repeat local;
    background-size: 100% 100%;
}

.acceptNameEditBtn, .acceptDescEditBtn {
    background: url('images/apply-change.png') no-repeat local;
    background-size: 100% 100%;
}